@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
    text-decoration: none;
}

.hero {
    background: #EDE7DE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.hero-container {
    display: grid;
    max-width: 100%; 
    padding: 0 10rem;
    box-sizing: border-box;
}


.hero h1 {
    align-items: start;
    font-size: 3rem;
    color: #025A4E;
    margin-bottom: 1rem;
    font-family: 'Sora', sans-serif;
}

.hero h2 {
    font-size: 19px;
    color: #025A4E;
    margin-bottom: 1rem;
    font-family: 'Sora', sans-serif;
}

.hero p {
    font-size: 1.2rem;
    color: #4C6763;
    margin-bottom: 2rem;
    font-family: 'Sora', sans-serif;
}


.column-left {
    display: flex;
    flex-direction: column;
    color: #000;
    margin-top: 100px;
    align-items: center;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 0.95rem;
    line-height: 2;
    max-width: 45rem;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

button {
    background-color: transparent;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.icon-button {
    padding: 0;
    width: fit-content; 
    height: fit-content; 
}

button img {
    width: 2rem; 
    height: auto;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
}